<div class="container">

  <div class="left">
  </div>

  <div class="right">
    <div class="form-container">
      <div class="welcome">
        <p>Bine ai revenit!</p>
      </div>
      <div class="title">
        <p>Intr&#259; &#238;n cont</p>
      </div>

      <div class="form">
        <form>
          <label class="form-label" for="email">Email</label>
          <input type="text" id="email" name="email" autocomplete="email" [(ngModel)]="this.user.email">

          <label class="form-label" for="password">Password</label>
          <input type="password" id="password" name="password" autocomplete="off" [(ngModel)]="this.user.password">
          <div class="btn-div">
            <button class="button" (click)="login()">Continu&#259;</button>
          </div>

        </form>
      </div>

      <div class="btn-div">
        <p class="form-label">Nu ai un cont? Creeaz&#259; un <a href="/register">cont</a></p>
      </div>

    </div>
  </div>

</div>
