.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: black;
  color: white;
}

.column {
  padding: 10%;
  justify-content: center;
  display: grid;
  justify-items: center;
}

.row {
  margin-bottom: 12%;
  font-family: "Helvetica", sans-serif;
  font-size: 1rem;
}

.row-header {
  margin-bottom: 30%;
  font-family: "Helvetica", sans-serif;
  font-size: 1.5rem;
}

.copyright {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  padding-bottom: 1%;
}

.first-column-row1, .first-column-row2 {
  font-size: 2rem;
  font-family: "Helvetica", sans-serif;
}

.first-column-row1 {
  padding-top: 30%;
}


