<div class="container">
  <div class="column">
    <div class="first-column-row1">Management</div>
    <div class="first-column-row2">Licenta</div>
  </div>
  <div class="column">
    <div class="row-header">Link-uri</div>
    <div class="row" (click)="onClickHome()">Acasa</div>
    <div class="row" (click)="onClickProfile()">Profilul meu</div>
    <div class="row" (click)="onClickSessions()">Sesiuni</div>
  </div>
  <div class="column">
    <div class="row-header">Contact</div>
    <div class="row">Cluj-Napoca</div>
    <div class="row">Str. Pandurilor, nr. 10</div>
    <div class="row">0741 316 184</div>
  </div>
</div>

<div class="copyright">
  <p>Copyright © 2023. Toate drepturile rezervate.</p>
</div>
