<div class="container">

  <div class="left">

    <div class="left-menu">

      <div class="circle">
        <p class="initials">{{ this.getInitials(user.name) }}</p>
      </div>

      <div class="logout-div">
        <p class="name-label">{{this.user.name}}</p>
        <button mat-button class="logout-btn" (click)="onClickLogout()">
          Logout
        </button>
      </div>

    </div>
  </div>


  <div class="right">

    <div class="form-container">

      <div class="title">
        <label>Informa&#355;iile mele</label>
      </div>

      <div class="form">
        <form>
          <div class="info-item">
            <label class="form-label" for="name">Nume &#351;i Prenume</label>
            <div>
              <input type="text" id="name" name="name" [disabled]="!editing"
                     [(ngModel)]="this.modifiedUser.name" [maxLength]="20"></div>
          </div>

          <div class="info-item">
            <label class="form-label" for="email">Email</label>
            <div>
              <input type="text" id="email" name="email"
                     [disabled]="!editing" [(ngModel)]="this.modifiedUser.email" [maxLength]="30"></div>
          </div>

          <div>
            <button *ngIf="!editing" mat-button class="edit-btn" (click)="onClickEdit()">
              <mat-icon>edit</mat-icon>
              Editeaz&#259;
            </button>
            <button *ngIf="editing" mat-button class="edit-btn" (click)="onClickAnuleaza()">
              <mat-icon>close</mat-icon>
              Anuleaz&#259;
            </button>
            <button mat-button class="edit-btn" (click)="onClickSave()" [disabled]="!editing">
              <mat-icon>save</mat-icon>
              Salveaz&#259;
            </button>
          </div>
        </form>
      </div>

    </div>

  </div>
</div>
