.container {
  height: 91%;
}

.chart {
  max-height: 75%;
  max-width: 99%;
  display: inline;
  margin-top: 3%;
}

.top {
  color: black;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

hr {
  border: 1px solid darkgray;
  border-radius: 3px;
  width: 45%;
}
